@page "/audit"


<div class="container-fluid bg">
    <div class="row pt-3">
        <div class="col-8 table-wrapper-scroll-y scrollbar">
            <table class="table table-bordered">
                <thead class="sticky-top bg-info">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in new List<int>() { 1, 2, 3, 4, 5, 6,7,8,9,10,11,12,14,15,16 })
                    {
                        <tr class="table-success">
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                    }
                    <tr class="table-success">
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Larry the Bird</td>
                        <td>Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            HEloo!!
        </div>
    </div>
</div>


@code {

}
