@page "/demo"

<div class="container-fluid bg">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-4">
            <img id="upload-image" width="300" height="300" src="upload.png" onclick="upload()">
            <input type="file" id="upload" class="none" onchange="handleUpload(this.files)" />
        </div>
        <div class="col-4">
            <form id="lamp-data">
                <div class="form-outline mb-3">
                    <input type="number" id="lightness" aria-label="readonly input example" class="form-control" placeholder="Lightness"/>
                </div>
                <div class="form-outline mb-3">
                    <input type="number" id="power" class="form-control" placeholder="Power"/>
                    
                </div>
                <div class="form-outline mb-3 ">
                    <input type="number" id="distance" class="form-control" placeholder="Distance" />
                </div>

                <div class="form-outline mb-3">
                    <select class="form-control form-select" id="type">
                        <option value="0">Incandescent</option>
                        <option value="1">Led</option>
                        <option value="2">Halogen</option>
                    </select>
                </div>

                <div class="form-outline mb-3">
                    <select class="form-control form-select" id="material">
                        <option value=0>Glass</option>
                        <option value=1>Wood</option>
                        <option value=2>Steel</option>
                    </select>
                </div>

                <button type="button" onclick="submitted()" class="btn btn-primary w-100">Calculate</button>
            </form>
        </div>
        <div class="col-4">
            <img id="result" src="dark-lamp.png" width="300" height="300">
        </div>
    </div>
</div>


@code {

}
